<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceReservationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58820/WebServiceReservation.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceReservationSoap"
                contract="WebServiceReservation.WebServiceReservationSoap"
                name="WebServiceReservationSoap" />
        </client>
    </system.serviceModel>
</configuration>